{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}{% endblock %}
		{% block meta %}{% endblock %}
		{% block css %}
			<link type="text/css" rel="stylesheet" href="{% static 'css/library/foundation/foundation.min.css' %}" />
			<link type="text/css" rel="stylesheet" href="{% static 'css/_base.css' %}" />
		{% endblock %}
	</head>
	<body>
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}
	</body>
	{% block js %}
		<script src="{% static 'js/library/foundation/foundation.min.js' %}" />
	{% endblock %}
</html>