
	<div class="row collapse">
	    <div class="large-3 columns">
	    	<span class="prefix">Email</span>
	    </div>
	    <div class="large-9 columns">
	        <input type="text" class="round" name="username" placeholder="email" ng-model="email">
	    </div>
	</div>
	<div class="row collapse">
	    <div class="large-3 columns">
	    	<span class="prefix">Password</span>
	    </div>
	    <div class="large-9 columns">
	        <input type="password" class="round" name="password" placeholder="password" ng-model="pwd">
	    </div>
	</div>
	<div class="row">
	    <div class="large-12 columns">
	      <label>
	      	<ul class="button-group radius" style="width:100%;">
				<li style="width:50%">
					<a href="#" class="button" style="width:100%">Signup</a>
				</li>
				<li style="width:50%">
					<button name="submit" class="button" style="width:100%" ng-click="login()">Login</button>
				</li>
			</ul>
	      </label>
	    </div>
	</div>