<form class="form-horizontal" role="form">
	 <div class="form-group">
	    <label class="col-sm-4 control-label">Email</label>
	    <div class="col-sm-6">
	        <input type="text" class="form-control" name="username" placeholder="email" ng-model="email">
	    </div>
	</div>
	 <div class="form-group">
	    <label class="col-sm-4 control-label">Password</label>
	    <div class="col-sm-6">
	        <input type="password" class="form-control" name="password" placeholder="password" ng-model="pwd">
	    </div>
	</div>
	 <div class="form-group">
	    <div class="col-sm-6">
			<a href="#" class="btn btn-default btn-block">Signup</a>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-primary btn-block" ng-click="login()">Login</button>
	    </div>
	</div>
</form>